<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>-->
    <script src="jquery-3.6.4.min.js"></script>
</head>
<body>
<p id="p1"></p>
<label for="searchText">Search text: </label><input id="searchText" type="text"><br>
    <button id="btn-search" type="button">Search</button>
    <button id="btn-show" type="button">Show</button>
    <button id="btn-more" type="button">More</button>
<table border="1">
    <thead>
    <tr>
        <th>STT</th>
        <th>Id</th>
        <th>Title</th>
        <th>Body</th>
        <th>Type</th>
    </tr>
    </thead>

    <tbody id="body">
    </tbody>

</table >
</body>
<script>
    $(document).ready(function(){
        let pageable = 1;
        function display(){
            $.ajax({
                contentType: 'application/json',
                type: "GET",
                dataType:"json",
                url: "http://localhost:8085/api/get-list-blog",
                success: function (data) {
                    let content ="";
                    for(let i=0; i<data.length;i++){
                        content +='  <tr>\n' +
                            '<td>'+(i+1)+'</td>\n' +
                            '<td>'+data[i].id+'</td>\n' +
                            '<td>'+data[i].title+'</td>\n' +
                            '<td>'+data[i].body+'</td>\n' +
                            '<td>'+data[i].type.type+'</td>\n' +
                            '</tr>'
                    }
                    $("tbody").html(content);
                }
            });
        }
        function search() {
            let text = $("#searchText").val();
            $.ajax({
                contentType: 'application/json',
                type: "GET",
                dataType:"json",
                url: 'http://localhost:8085/api/find-blog-by-text?text='+text,
                success: function (data) {
                    let content ="";
                    for(let i=0; i<data.length;i++){
                        content +='  <tr>\n' +
                            '<td>'+(i+1)+'</td>\n' +
                            '<td>'+data[i].id+'</td>\n' +
                            '<td>'+data[i].title+'</td>\n' +
                            '<td>'+data[i].body+'</td>\n' +
                            '<td>'+data[i].type.type+'</td>\n' +
                            '</tr>'
                    }
                    $("tbody").html(content);
                }
            });
        }
        function more(){
            $.ajax({
                contentType: 'application/json',
                type: "GET",
                dataType:"json",
                url: "http://localhost:8085/api/getPage?pageable="+pageable,
                success: function (data) {
                    console.log(data);
                }
            });
        }
        $("#btn-more").click(function () {
            more();
        });
        $("#btn-search").click(function () {
             search();
        });
        $("#btn-show").click(function () {
            display();
        });
    })
</script>
</html>