<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>RENT BOOK</h1>
<form th:object="${rentHistoryDto}" th:action="@{/library/rent}" method="post">
    <input th:field="*{id}" hidden>
    <input th:field="*{statusId}" hidden>
    <tr>
        <td>Book Name</td>
        <td>
            <select th:field="*{bookId}" onchange="makeid(5)">
                <option th:value="0">select book</option>
                <option th:each="book : ${bookLibrary}" th:value="${book.getId()}" th:text="${book.getBookName()}"></option>
            </select>
        </td>
        <td>
            <input id="rentIdRandom" name="rentIdRandom" th:field="*{rentId}" maxlength="5"><br>
            <small style="color: red" th:if="${#fields.hasErrors('rentId')}" th:errors="*{rentId}"></small>
        </td>
    </tr>
    <small style="color: red" th:text="${message}"></small><br>
    <button type='submit'>Rent</button>

</form>
<script>
    function makeid(length) {
        let result = '';
        let optionId = document.getElementById("bookId").value;
        const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        const charactersLength = characters.length;
        let counter = 0;
        while (counter < length) {
            result += characters.charAt(Math.floor(Math.random() * charactersLength));
            counter += 1;
        }
        if(optionId == "0"){
            document.getElementById("rentIdRandom").value = "";
            document.getElementById("statusId").value = "";
        }else {

            document.getElementById("rentIdRandom").value = result;
            document.getElementById("statusId").value = "1";
        }
    }
</script>
</body>
</html>